<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuijiao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,134}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{80,134}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>shuijiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,84},{80,134}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{80,134}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>shuijiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,140}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{90,140}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>shuijiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{80,134}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{80,134}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuijiao.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cffd67e33e0df323cf6dd45fa7a6c828:1/1$</string>
            <key>textureFileName</key>
            <string>shuijiao.png</string>
        </dict>
    </dict>
</plist>
